<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}django,python, keywords{% endblock %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <blockquote>
        <h1>My website</h1>
        {% include 'menu.html' with mymenu=menu  a='10' %}

        <hr>
    
        

        
        {% block content %}
        {% endblock %}
        {% block adsection %}
        {% endblock %}
        <hr>
        <p>&copy; 2020</p>
    </blockquote>
</body>
</html>